<!doctype html public "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="JA">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-2022-JP"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script language="javascript" type="text/javascript">
    function DisplayAll() {
      document.getElementById("all_form").style.display = "inline";
      document.getElementById("partial_form").style.display = "none";
    }

    function DisplayPartial() {
      document.getElementById("partial_form").style.display = "inline";
      document.getElementById("all_form").style.display = "none";
      document.getElementById("all").value = "";
    }
  </script>
  <title>メディア情報検索の基礎 課題1-1 sample</title>
</head>

<body class="container">

<h1 class="text-center">メディア情報検索の基礎　課題1-1</h1>
<hr class="text-center"/>
<div class="text-center row">
  <form method="post" action="/search">
    <div id="all_form">
      <div class="form-group">
        <input type="text" class="form-control" name="all" id="all" size="15" placeholder="全体" /> 
      </div>
    </div>
    <div id="partial_form" style="display: none;">
      <div class="form-group">
        <input type="text" class="form-control" name="id" id="id" size="15" placeholder="id" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="title" id="title" size="15" placeholder="タイトル" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="author" id="author" size="15" placeholder="著者" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="url" id="url" size="15" placeholder="URL" />
      </div>
      <label class="radio-inline">
        <input type="radio" name="mode" value="or" checked>OR
      </label>
      <label class="radio-inline">
        <input type="radio" name="mode" value="and">AND
      </label>
    </div>
    <br>
    <input type="button" class="btn btn-default" value="全体" onclick="DisplayAll();">
    <input type="button" class="btn btn-default" value="部分" onclick="DisplayPartial();">
    <br>
    <input type="submit" class="btn btn-primary" value="検索"/>
  </form>
</div>

<%= erb :result, locals: { images: results } if defined?(results) %>

<hr class="text-center"/>

<table class="table table-striped">

  <caption>検索対象データ</caption>

  <tr>
    <th>ID</th>
    <th>title</th>
    <th>author</th>
  </tr>
  <% images.each do |image| %>
  <tr>
    <td><a href="<%= image.url %>">Image<%= image.id %></a></td>
    <td><%= image.title %></td>
    <td><%= image.author %></td>
  </tr>
  <% end %>
</table>

<hr align="center" noshade width="80%"/>

<div align="center">
<a href="../text.html">戻る</a>
</div>

</body>

</html>
