<div class="text-center row">
  <form action="/search" method="get">
  <input type="text" name="keyword">
  <button type="submit" class="btn btn-default">キーワード検索</button>
  </form>
</div>

<%= erb :result, locals: { documents: results } if defined?(results) %>

<hr class="text-center"/>

<table class="table table-striped">

  <caption>検索対象データ</caption>

  <tr>
    <th>ID</th>
    <th>title</th>
    <th>content</th>
    <th>Page rank</th>
  </tr>
  <% documents.each do |doc| %>
  <tr>
    <td><%= doc.id %></td>
    <td><%= doc.title %></td>
    <td><%= doc.content[0..30] + '...' %></td>
    <td><%= doc.page_rank %></td>
  </tr>
  <% end %>
</table>

<hr align="center" noshade width="80%"/>

<div align="center">
<a href="../text.html">戻る</a>
</div>
