<div class="text-center row">
  <form action="/search" method="get">
  <% images.each do |image| %>
    <label class="radio-inline">
      <input type="radio" name="image" value="<%= image.id %>">
      <img src="<%= image.url %>" height="200" alt="<%= image.title %>">
    </label>
  <% end %>
  <br>
  <button type="submit" class="btn btn-default">類似画像を検索</button>
  </form>
</div>

<%= erb :result, locals: { images: results } if defined?(results) %>

<hr class="text-center"/>

<table class="table table-striped">

  <caption>検索対象データ</caption>

  <tr>
    <th>ID</th>
    <th>title</th>
    <th>author</th>
  </tr>
  <% images.each do |image| %>
  <tr>
    <td><a href="<%= image.url %>">Image<%= image.id %></a></td>
    <td><%= image.title %></td>
    <td><%= image.author %></td>
  </tr>
  <% end %>
</table>

<a class="btn btn-primary" href="/new">登録</a>
<hr align="center" noshade width="80%"/>

<div align="center">
<a href="../text.html">戻る</a>
</div>
